alpaca-py
Flask
joblib
numpy
pandas
pandas-ta
PyMySQL
python-dotenv
redis
scikit-learn==1.8.0
scipy
SQLAlchemy
TA-Lib
webull
xgboost==3.3.0
transformers 
torch 
yfinance
beautifulsoup4
lxml
trafilatura
urllib3